html 
    head
        title= "Formulario de Ingreso de Productos"
        link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", type='text/css')
    

    include views/main.pug
    